* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 239, 239);
  font-family: "Comfortaa", cursive;
}

.login-form {
  width: 25%;
  height: 600px;
  margin: 10% auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 3px solid rgb(254, 75, 123);
  border-radius: 25px;
}

.header {
  font-size: 20px;
  font-weight: 600;
  padding: 8% 5%;
  margin-bottom: 5%;
  background: rgb(247, 38, 38);
  background: linear-gradient(
    145deg,
    rgba(247, 38, 38, 1) 23%,
    rgba(249, 92, 174, 1) 60%,
    rgba(250, 135, 199, 1) 100%
  );
  border-radius: 20px 20px 0 0;
  width: 100%;
  color: white;
}

h2 {
  font-weight: 600;
  color: rgb(254, 75, 123);
}

input {
  font-family: inherit;
  margin: 10px;
  height: 30px;
  width: 45%;
  border: 2px solid rgb(254, 75, 123);
  border-left: 25px solid rgb(254, 75, 123);
  border-radius: 30px;
  padding: 5px;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
  color: rgb(254, 75, 123);
}

input:focus {
  border: 3px solid rgba(247, 38, 38, 1);
  border-left: 25px solid rgba(247, 38, 38, 1);
  outline: none;
}

::placeholder {
  color: rgb(254, 75, 123);
  opacity: 0.5;
  padding: 10px;
}

.btn-login {
  margin: 20px;
  width: 100px;
  height: 30px;
  border: none;
  letter-spacing: 0.1rem;
  border-radius: 20px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  background: rgb(247, 38, 38);
  background: linear-gradient(
    145deg,
    rgba(247, 38, 38, 1) 23%,
    rgba(249, 92, 174, 1) 60%,
    rgba(250, 135, 199, 1) 100%
  );
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
}

.btn-login:active {
  cursor: pointer;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  transform: translateY(2px);
  /* Moving button 4px to y-axis */
}
